alias nah="git reset --hard && git clean -df"
alias gcleanup='git branch --merged | egrep -v "(^\*|master|dev)" | xargs git branch -d'
alias vim="mvim"
alias weer='curl -s wttr.in/Haarlem | sed -n "1,7p"'
alias weerbericht='curl -s wttr.in/Haarlem'
alias mssql='mssql -s localhost -u SA -p Thijsthijs12'
alias regiservice='docker start 05c333e98eb6'
alias ava='node_modules/.bin/ava'
alias extra='cd ~/Workspace/adsysco/regiextranet'
alias sextra='cd ~/Workspace/adsysco/regiextranet && subl .'
alias art='php artisan'
alias artisan='php artisan'
alias phpunitci='phpunit --testsuite="CI Tests"'
alias codecept='./vendor/bin/codecept'
alias npw='npm run watch'
alias brewstop='sudo brew services stop --all'
alias brewstart='sudo brew services start --all'
alias brewrestart='brewstop && brewstart'
alias phperror='tail -f /Users/thijs/.valet/Log/fpm-php.www.log'
